@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* Poppins font */

*
{
    margin: 0;
    padding:0;
    font-family: 'Poppins', sans-serif, Helvetica;
    box-sizing: border-box;
    /* border-box is to include the padding and border are included in the width and height */
}



/* Navigation Bar on top (in header) */
nav
{
    width: 100%;
    text-align: center;
    /* for bringing the content in nav bar to center */
}
nav li, nav a, nav button
{
    /* Text styling for li, a, button */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
}
header
{
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    z-index: 222;
    margin: 0px;
    padding: 0px;
    background-color: #0033FF ; /*Colour should be as same as background color otherwise, the colour difference will be visible*/
    display: flex; /* A flex container expands items to fill available free space or shrinks them to prevent overflow. */
    justify-content: space-between;
    align-items: center;
    padding: 3px 15px; /* If the padding has two values, 1st one is for top and bottom, 2nd one for left and right */
    border-bottom: 1px solid black;
}
.nav_links
{
    list-style: none;    
}
.nav_links li
{
    display: inline-block;
    /* To list out the list elements in a same line */
    padding: 10px 25px; /* Top nd bottom: 10px, left & right: 25px*/
    align-items: center;
    justify-content: space-between ;
}
.nav_links li a:hover
{
    color: #0000CC ;
    border: 1px solid white;
    padding: 3px 9px;
    transition: 0.2s;
    border-radius: 20px;
    margin: 0;
    background-color: white;
    /* When hovering over the links in nav bar, it will turn black */
}



/* Introduction section with video background */

.intro
{
    position: absolute;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    /* justify-content: left; */
    align-items: right;
    background-color: rgb(0, 0, 0);
    color: #fff;
    z-index: 2;
}
.intro video
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100% ;
    object-fit: cover;
    opacity: 0.8;
    /*TO mirror the video with y-axis (if I do so, the letters in keyboard are gettig mirrored)
    transform: rotateY(180deg);
    -webkit-transform:rotateY(180deg); /for Safari and Chrome browser 
    -moz-transform:rotateY(180deg); for Firefox browser */
}
.intro .text
{
    z-index: 5;
    padding-top: 50px;
}
.intro .overlay
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    background-color: rgba(0, 33, 255, 0.65);
    /*We have created a rectangular box called overlay with 100% height and width on the screen*/
    /* This can be used to change the colour of the video by adjusting the opacity */
    mix-blend-mode: overlay; 
    /* Change the background color ans dee..you will appreciate this mix-blend mode */
}
.text h2
{
    font-size: 5em; /* em multiplies 5 to the actual font size of h2*/
    font-weight: 900;
    line-height: 1.1em;
}
.text h3
{
    font-size: 3em; /* em multiplies 5 to the actual font size of h2*/
    font-weight: 400;
    line-height: 1em;
}
.text p
{
    font-size: 1.1em;
    margin: 20px 0;
    font-weight: 400;
    max-width: 700px;
    word-spacing: 5px;
    text-align: justify;
}
.text a 
{
    /* Download CV button */
    display: inline-block;
    font-size: 1.5em;
    background-color: #eee;
    padding: 10px 30px; /*Top and bottom: 10px, left & right: 30px*/
    text-decoration: none;
    font-size: 15px;
    font-weight: 900;
    border-radius: 25px;
    margin-top: 10px;
    text-decoration: uppercase;
    letter-spacing: 1px;
}
.text a:hover
{
    color: rgb(0, 0, 0);
    background-color: #0033FF;
    letter-spacing: 1.1px;
}

/* S O C I A L   M E D I A    I C O N S */
.social
{
    position: absolute ;
    bottom: 20px;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social li
{
    list-style: none;
}
.social li a
{
    display: inline-block;
    filter: invert(1);
    margin-right: 20px;
    transform: scale(0.5);
    transition: 0.5s;
}
.social li a:hover
{
    transform: scale(0.5) translateY(-15px);
    /* When we hover over the social media icons, it will jump slightly */
}


/* 3. S K I L L S    S E C T I O N*/


.blank
{
    background-color: #fff;
}
.skills
{
    padding-left: 80px;
    padding-right: 80px;
    margin: 0;
    padding-top: 750px;  
    padding-bottom: 50px;
    /* To avoid the overlapping of the video and skills section, I added top padding by trial and error */
    background-color: rgba(208, 222, 226, 0.6);
    background-image: linear-gradient(to bottom,rgba(208, 222, 226, 0.6), rgba(62,173,207,1));
}
.skills .heading
{
    color: #222;
    margin-top: 0px;
    margin-bottom: 50px;
    padding-top: 50px;   
}
.skills .heading h2
{
    color: rgba(0, 33, 255, 1);
    text-transform: uppercase;
    text-align: center;
    padding: 30px;
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: 900;
}
.skills .content
{
    display: flex;
    justify-content:center ;
    flex-wrap: wrap;
    flex-direction: row;
}
.skills .content .skillsBx
{
    padding: 40px 20px;
    background: #2a2a72;
    background-image: linear-gradient(to bottom, #009ffd, #02005e);
    color: #fff;
    margin: 20px;
    max-width: 340px;
    text-align: center;
    transition: 0.5s;
    border-radius: 20px;
    /* box-shadow: 50px #0000CC; */
}
.skills .content .skillsBx:hover
{
    background: #02005e;
}
.skills .content .skillsBx img
{
    max-width: px;
    max-width: 100px;
    max-height: 100px;
    margin-bottom: 10px;
}
.skills .content .skillsBx h2
{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2px;
}


/* C E R T I F I C A T I O N S    S E C T I O N*/

.certifications
{
    padding: 35px 75px 200px 75px;
    background-color: rgba(208, 222, 226, 0.6);
    background-image: linear-gradient(to top,rgba(208, 222, 226, 0.6), rgba(62,173,207,1));
}
.certifications .heading
{
    color: #222;
    padding: 70px;
}
.certifications .heading h2
{
    color: rgba(0, 33, 255, 1);
    text-transform: uppercase;
    text-align: center;
    text-align: center;
    padding-bottom: 40px;
    text-transform: uppercase;
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: 900;
}
.certifications .content
{
    display: flex;
    justify-content:center ;
    flex-wrap: wrap;
    flex-direction: row;
    margin:0;
    justify-content: space-around;
    padding: 0px 20px 0px 20px;
}
.certifications .content .box
{
    min-width: 370px;
    border-bottom: 5px solid rgba(0, 33, 255, 1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 0px;
}
.certifications .content .box h2
{
    color: #fff;
    letter-spacing: 2px;
    background: rgba(0, 33, 255, 0.8);
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 700;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-transform: uppercase;
    text-align: center;
}
.certifications .content .box ul
{
    position: relative;
    background: #fff;
    color: #fff;
}
.certifications .content .box ul li
{
    list-style: none;
    padding: 20px;
    width: 100%;
    background: #fff;
    box-shadow: 0 5px 25px rgba(55, 91, 158, 0.2);
    transition: transform 0.3s;
}
.certifications .content .box ul li a
{
    text-decoration: none;
    border: 1px solid rgb(255, 255, 255);
    padding: 5px 20px 5px 20px;
    border-radius: 15px;
    color: #000;
    background-color: #fff;
    font-weight: 900;
    color: rgba(0, 33, 255, 1) ;
}
.certifications .content .box ul li span
{
    width: 20px;
    height:20px;
    text-align: center;
    line-height: 20px;
    background: rgba(0, 33, 255, 1);
    color: #fff;
    display: inline-block;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 600;
}
/* Certificates section Hover effects */
.certifications .content .box ul:hover li
{
    opacity: 0.4;
}
.certifications .content .box ul li:hover
{
    transform: scale(1.07);
    z-index: 100;
    background: #0263ff;
    box-shadow: 0 5px 25px rgba(0,0,0,.2);
    color: #fff;
    opacity: 1;
    border-radius: 5px;
}
.certifications .content .box ul li:hover span
{
    background: #ffffff;
    color: rgba(0, 33, 255, 1);
}
